/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* VARIABLES */
:root {
    /* Colores */
    --white: #FCFCFC;
    --black: black;
    --colorMain: #977ECB;
    --colorGrey: #F2F1F1;
    --colorAttributeName: #AA5D00;
    --colorAttributeType: #977ECB;
    --colorRed: rgb(224, 106, 106);
    /* font-weight */
    --regular: 400;
    --medium: 500;
    --semiBold: 600;
    --bold: 700;
    /* font-family */
    --fontMain: "Open Sans", sans-serif;
    /* font-size */
    --small: .9rem;
    --large: 1rem;
    --extraLarge: 1.5rem;
    /* Shadows */
    --shadowButtons: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* NORMALIZATION */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
    font-family: var(--fontMain);
    list-style: none;
    text-decoration: none;
    font-size: var(--small);
    font-weight: var(--regular);
    line-height: 180%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: .8rem;
    width: .8rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--colorMain);
    border-radius: 5rem;
}

body {
    background-color: var(--white);
}

.editorLine,
.editorLineJSON {
    width: 100%;
    border: 2px solid var(--black);
    border-radius: 5px;
    font-weight: var(--semiBold);
}

input {
    width: 30%;
    border: 2px solid var(--black);
    border-radius: 5px;
    padding: .5em;
    text-align: center;
}

.subtitle {
    font-size: var(--large);
    font-weight: var(--semiBold);
}

.button {
    background-color: var(--colorMain);
    border: none;
    box-shadow: var(--shadowButtons);
    padding: 1em;
    border-radius: 5px;
    color: var(--white);
    width: 100%;
    max-width: 550px;
    border: 1px solid transparent;
    transition: color, scale, .3s;
}

.button:hover {
    background-color: #7055aa;
    scale: 1.01;
}

.main {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 5em;
    padding: 5.5em 1em;
    overflow: hidden;
    min-height: 90vh;
}


/* HEADER */
.header {
    background-color: var(--colorMain);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--shadowButtons);
    z-index: 50;
}

.headerContainerItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: .5em;
}

.headerTitle {
    color: var(--white);
    font-size: var(--extraLarge);
    font-weight: var(--bold);
    text-shadow: var(--shadowButtons);
}

.iconHeader {
    color: var(--white);
    font-size: var(--extraLarge);
}

/* SECTION Documentation */
.createDocumentation,
.downloadDocuments {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 550px;
    width: 50%;
}

/* sectionAttributes */
.sectionAttributes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerAttributes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.attributesName {
    width: 20%;
    color: #AA5D00;
}

.attributesType {
    width: 20%;
    color: var(--colorAttributeType)
}

.attributesDescription {
    width: 50%;
    color: var(--black);
}

/* sectionExamples */
.sectionExamples {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerExamples {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Download Documents */
.descriptionDownloadDocuments {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--colorMain);
    padding: 4em;
    box-shadow: 0 0 -10px rgba(0, 0, 0, 0.25);
    z-index: 50;
}

.footer p {
    color: var(--white);
    font-weight: var(--semiBold);
    text-align: center;
}

/* MODAL */
.modalEditor {
    background-color: #FCFCFC;
    opacity: 1;
    background-image: radial-gradient(#977ECB 0.75px, transparent 0.75px), radial-gradient(#977ECB 0.75px, #FCFCFC 0.75px);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    min-height: 80vh;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    z-index: 10;
    transform: translate(100%);
    transition: transform .5s;
}

.active {
    display: flex;
    transform: translate(0);
}

.modalEditor_title {
    font-size: 2.1rem;
    font-weight: var(--bold);
    color: var(--colorMain);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
    max-width: 550px;
}

.editorCode,
.editorDescription {
    max-width: 550px;
    width: 100%;
    border: 2px solid var(--black);
    padding: 1em;
    border-radius: 5px;
}

.button--cancel {
    background-color: var(--colorRed);
}

.button--cancel:hover {
    background-color: rgb(177, 55, 55);
}