/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* VARIABLES */
:root{
    /* Colores */
    --white: #FCFCFC;
    --black: black;
    --colorMain: #977ECB;
    --colorGrey: #F2F1F1;
    /* font-weight */
    --regular: 400;
    --medium: 500;
    --semiBold: 600;
    --bold: 700;
    /* font-family */
    --fontMain: "Open Sans", sans-serif;
    /* font-size */
    --small: .9rem;
    --large: 1rem;
    --extraLarge: 1.5rem;
    /* Shadows */
    --shadowButtons: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* NORMALIZATION */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black);
    font-family: var(--fontMain);
    list-style: none;
    text-decoration: none;
    font-size: var(--small);
    font-weight: var(--regular);
    line-height: 180%;
}

body{
    background-color: white;
}

textarea{
    width: 100%;
    max-width: 550px;
    border: 2px solid var(--black);
    border-radius: 5px;
    padding: 1em;
}

input{
    width: 30%;
    border: 2px solid var(--black);
    border-radius: 5px;
    padding: .5em;
    text-align: center;
}

.subtitle{
    font-size: var(--large);
    font-weight: var(--semiBold);
}

.button{
    background-color: var(--colorMain);
    border: none;
    box-shadow: var(--shadowButtons);
    padding: 1em;
    border-radius: 5px;
    color: var(--white);
    width: 100%;
    max-width: 550px;
    border: 1px solid transparent;
    transition: color, scale,  .3s;
}

.button:hover{
    background-color: #7055aa;
    scale: 1.01;
}

.main{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 5em;
    padding: 5.5em 1em;
    overflow: hidden;
    min-height: 80vh;
}


/* HEADER */
.header{
    background-color: var(--colorMain);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: var(--shadowButtons);
}

.headerContainerItems{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: .5em;
}

.headerTitle{
    color: var(--white);
    font-size: var(--extraLarge);
    font-weight: var(--bold);
    text-shadow: var(--shadowButtons);
}

.iconHeader{
    color: var(--white);
    font-size: var(--extraLarge);
}

/* SECTION Documentation */
.createDocumentation, .downloadDocuments{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 550px;
    width: 50%;
}

/* sectionAttributes */
.sectionAttributes{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.containerAttributes{
    display: flex;
    justify-content: space-between;
}

/* sectionExamples */
.sectionExamples{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* FOOTER */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--colorMain);
    padding: 4em;
}

.footer p{
    color: var(--white);
    font-weight: var(--semiBold);
    text-align: center;
}